#start by ignoring all files in EricsLib

#all kate & gedit temp files
*.kate-swp
*~

# all pyc files
*.pyc
*.o
*.out

/build
/bin
/test_files

# coverity scan files
/cov-int
cov-int.tar.gz

/tmp
/local
/test_coverage

# User build files
Makefile.user.*