[submodule "packages/lit"]
	path = packages/lit
	url = https://github.com/efcs/llvm-lit.git
[submodule "packages/rapid-cxx-test"]
	path = packages/rapid-cxx-test
	url = https://github.com/efcs/rapid-cxx-test.git
